figcaption {
    font-size: 80% !important;
    font-weight: normal !important;
    font-style: italic;
}

iframe{
    padding-bottom:10px !important ;
}

ul.contact-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.contact-socmed {
	float: left;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	margin-right: 0.5em;
}

.socmed-icon {
padding-right: 0.5em;
}

/* disqus */
#disqus_thread {
	padding-top:30px;
}

/* bibliography */
#refs {
	font-size:90%;
}

/* html widget */
.html-widget {
	margin-bottom: 20px;
}
